{% extends 'AdminBundle::layout.html.twig' %}
{%- block note %}
<p class="text-info text-center"> Only Admin can manage insertion/deletion </p>
{%- endblock %}
{%- block body %}

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                {%- set attrs = ['id', 'name'] %}
                {%- for attr in attrs %}
                {{ knp_pagination_sortable(entities, attr|capitalize, 'l.'~attr, {sort : entities.isSorted('l.'~attr)}) }}
                {%- endfor %}
            </div>
            <div class="btn-group">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <ul class="pagination">{{ knp_pagination_render(entities) }} </ul>
            </div>
            <div class="btn-group">
                <span class="badge">{{ entities.getTotalItemCount }}</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-lg-offset-3 col-md-4  col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-6">
        <table class="table">
            <tbody>
                {%- for entity in entities %}
                <tr>
                    <td><a href="{{ entity.id }}">{{ entity.name }}</a></td>
                </tr>

                {%- endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-3  col-md-4 col-sm-5 col-xs-6">
        <a href="{{ path('admin_language_new') }}" class="btn btn-primary">New</a>
    </div>
</div>
{%- endblock %}
