{% extends 'AdminBundle::layout.html.twig' %}

{%- block note %}
<p class="text-info text-center"> Only Admin can manage insertion/deletion </p>
{%- endblock %}

{%- block body %}

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
</div>


{%- for letter in 'a'..'z' %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ letter|title }}</h3>
        {%- for entity in entities %}
        {%- if letter == entity.name|first %}
        <div class="display_admin">
            {%- if entity.codeCount > 0 %}
            <a href="{{ path('admin_codes', {'language': entity.name} ) }}">{{ entity.name }} ({{ entity.codeCount }})</a>
            {%- else %}
            {{ entity.name }}
            {{ form_start(delete_form, { 'action': path('admin_language_delete', { 'id': entity.id })}) }}
            <input class="btn btn-danger btn-xs" type="submit" value="Delete">
            {{ form_end(delete_form) }}
            {%- endif %}

        </div>
        {%- endif %}
        {%- endfor %}
        <hr />
    </div>
</div>
{%- endfor %}



{%- endblock %}
