{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentpost</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentPost.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ commentPost.content }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if commentPost.createdAt %}{{ commentPost.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if commentPost.updatedAt %}{{ commentPost.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentpost_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commentpost_edit', { 'id': commentPost.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
