{% extends 'base.html.twig' %}

{% block body %}
    <h1>Languages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td><a href="{{ path('language_show', { 'id': language.id }) }}">{{ language.id }}</a></td>
                <td>{{ language.name }}</td>
                <td>{{ language.count }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('language_show', { 'id': language.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('language_edit', { 'id': language.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('language_new') }}">Create a new language</a>
        </li>
    </ul>
{% endblock %}
