{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentcodes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentCode in commentCodes %}
            <tr>
                <td><a href="{{ path('commentcode_show', { 'id': commentCode.id }) }}">{{ commentCode.id }}</a></td>
                <td>{{ commentCode.content }}</td>
                <td>{% if commentCode.createdAt %}{{ commentCode.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if commentCode.updatedAt %}{{ commentCode.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commentcode_show', { 'id': commentCode.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commentcode_edit', { 'id': commentCode.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentcode_new') }}">Create a new commentCode</a>
        </li>
    </ul>
{% endblock %}
