{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>Codes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Username</th>
                <th>Description</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for code in codes %}
            <tr>
                <td><a href="{{ path('code_show', { 'id': code.id }) }}">{{ code.id }}</a></td>
                <td>{{ code.title }}</td>
                <td>{{ code.user.username }}</td>
                <td>{{ code.description }}</td>
                <td>{{ code.content }}</td>
                <td>{% if code.createdAt %}{{ code.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if code.updatedAt %}{{ code.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('code_show', { 'id': code.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('code_edit', { 'id': code.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('code_new') }}">Create a new code</a>
        </li>
    </ul>
{% endblock %}
