{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <h1>Code</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ code.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ code.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ code.description }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ code.content }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ code.user.username }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if code.createdAt %}{{ code.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            {% if code.updatedAt %}
                <tr>
                    <th>Updatedat</th>
                    <td>{{ code.updatedAt|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <code>only owner can edit/delete a code</code>
    <ul>
        <li>
            <a href="{{ path('code_index') }}">Back to the list</a>
        </li>
        {%- if app.user.id is defined %} {# user authenticated #}
        {%- if app.user.id == code.user.id %} {# user is code owner #}
        <li>
            <a href="{{ path('code_edit', { 'id': code.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {%- endif %}
        {%- endif %}

    </ul>

    <div>
        <code>display form "new CommentCode" if user is authenticated</code>
        <br />
        {%- if is_granted("ROLE_USER") %}
        {{ render(controller('AppBundle:CommentCode:new', {'id' : code.id })) }}
        {%- else %}
        You need to be <a href="{{ path('fos_user_security_login') }}">logged</a>  to post a comment
        {%- endif %}
    </div>
{% endblock %}
