{% extends 'AdminBundle::layout.html.twig' %}


{%- block body %}

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ entity.username }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ entity.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ entity.lastname }}</td>
                </tr>
                <tr>
                    <th>Created at</th>
                    <td>{{ entity.createdAt|date('d-m-y H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Updated at</th>
                    <td>{{ entity.createdAt|date('d-m-y H:i:s') }}</td>
                </tr>
                <tr>
                    <td>
                        {%- if entity.status == 1 %}
                        <span class="label label-danger">Removed</span>
                        {%- else %}
                        <span class="label label-info">Active</span>
                        {%- endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                Roles
            </li>
            {%- for role in entity.roles %}
            <li class="list-group-item">
                {{ role }}
            </li>
            {%- endfor %}

        </ul>

        {% if entity.hasRole('ROLE_ADMIN') %}
            {{ form_start(demote_form) }}
            {{ form_widget(demote_form) }}
            <button type="submit" class="btn btn-danger">Remove ROLE_ADMIN</button>
            {{ form_end(demote_form) }}
        {% else %}
            {{ form_start(promote_form) }}
            {{ form_widget(promote_form) }}
            <button type="submit" class="btn btn-success">Add ROLE_ADMIN</button>
            {{ form_end(promote_form) }}
        {% endif %}

        <hr />

        {{ form_start(deleteHard_form) }}
        {{ form_widget(deleteHard_form) }}
        <button type="submit" class="btn btn-danger">Real Delete</button>
        {{ form_end(deleteHard_form) }}

        {% if entity.status == 1  %}
            {{ form_start(active_form) }}
            {{ form_widget(active_form) }}
            <button type="submit" class="btn btn-info">Active</button>
            {{ form_end(active_form) }}
        {% else %}
            {{ form_start(deleteSoft_form) }}
            {{ form_widget(deleteSoft_form) }}
            <button type="submit" class="btn btn-warning">Soft Delete</button>
            {{ form_end(deleteSoft_form) }}
        {% endif %}


    </div>
</div>

{%- endblock %}
