{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h1>User edit</h1>
            <div id="aaa"></div>

            {{ form_start(edit_form) }}
            {{ form_row(edit_form.firstname) }}
            {{ form_row(edit_form.lastname) }}
            {{ form_row(edit_form.job) }}
            {{ form_row(edit_form.bio) }}
            {{ form_row(edit_form.img) }}
            <div>
                <img src="{{ asset('avatar/'~image) }}" alt="{{ asset('avatar') }}" />
            </div>
            <hr />
            <div id="form_skill">
                {{ form_row(edit_form.skills) }}
            </div>
            <div class="row">
                <div id="form_skill_display" class="col-md-6">

                </div>
                <div class="col-md-6" id="form_skil_list">
                    <ul>
                        {%- for skill in skills %}
                        <li>
                            <img class="skill-min" src="{{ asset('skill/'~skill.image) }}" alt="{{ asset('skill') }}" />
                            {{ skill.name }}
                            <button class="btn btn-success btn-xs" data-id="{{skill.id}}" >+</button>
                        </li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>


            <hr />
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
            {{ form_end(edit_form) }}
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}


{%- block javascripts %}




<script type="text/javascript">

    $(function () {

        var id = 'appbundle_user_skills';
        var name = $('#' + id).prop('name');
        var data = $('#' + id + ' > option');

        loadSelectEntry($('#appbundle_user_skills > option'), $('#form_skill_display'));

        function loadSelectEntry(selector_input, selector_display) {
            var list = $('<ul>');
            selector_input.each(function (i, el) {
                var selected = $(el).attr('selected');
                if (typeof selected !== typeof undefined && selected !== false) {
                    list.append('<li>' + $(el).text() + '<a class="btn btn-danger btn-xs" href="#" data-id="' + $(el).val() + '">Del</a></li>');
                }
            });
            list.appendTo(selector_display);
        }

        $('#form_skill_display').on('click', 'li > a', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            $(this).parent().remove();
            $('#appbundle_user_skills > option').each(function (i, el) {
                if ($(el).val() == id) {
                    $(el).removeAttr("selected");
                }
            });
        });

        $('#form_skil_list').on('click', 'button', function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            
            $('#appbundle_user_skills > option').each(function (i, el) {
                if ($(el).val() == id) {
                    var selected = $(el).attr('selected');
                    if (typeof selected === typeof undefined || selected === false) {
                        $(el).attr('selected', true);
                        var entry = $('<li>');
{#                        var img = $('<img>').css()#}
                        entry.html($(el).text() + '<a class="btn btn-danger btn-xs" href="#" data-id="' + id + '">Del</a>');
                        entry.appendTo($('#form_skill_display ul'));
                    }
                }
            });
        });



    });
// 1) get all choice 
// 2) extract selected

</script>    
{%- endblock %}
